﻿@model Vidly.Models.Movie
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.Name</h2>

<ul>
    @{ 
        var genreName = Model.Genre != null ? Model.Genre.Name : "None";
        var releaseDate = Model.ReleaseDate.HasValue ? Model.ReleaseDate.Value.ToLongDateString() : "?";
        var dateAdded = Model.DateAdded.HasValue ? Model.DateAdded.Value.ToShortDateString() : "?";
    }
    <li>Genre: @genreName</li>
    <li>Release Date: @releaseDate</li>
    <li>Date Added: @dateAdded</li>
    <li>Number in stock: @Model.NumberInStock</li>
</ul>