﻿@model List<Vidly.Models.Movie>
@{
    ViewBag.Title = "Movies";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Movies</h2>
<p>
    @Html.ActionLink("New Movie", "New", "Movies", null, new { @class = "btn btn-primary" })
</p>
@if (!Model.Any())
{
    <p>There are not movies in the database.</p>
}
else
{
    <table class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Movie</th>
                <th>Genre</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var movie in Model)
            {
                <tr>
                    <td>@Html.ActionLink(movie.Name, "Edit", new { movie.Id }, null)</td>

                    @{
                        var genreName = movie.Genre != null ? movie.Genre.Name : "None";
                    }
                    <td>@genreName</td>
                </tr>
            }
        </tbody>
    </table>
}

